@charset "UTF-8";
/* CSS Document */
/*mainvisual---*/
.mainvisual {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/*swiper---*/
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@keyframes zoom {
  from {
    transform: scale(1.07);
  }
  to {
    transform: scale(1.0);
  }
}
.mainvisual .swiper-wrapper .swiper-slide {
  overflow: hidden;
}
.mainvisual .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
}
.mainvisual .swiper-wrapper .swiper-slide-prev img, .mainvisual .swiper-wrapper .swiper-slide-active img {
  animation-name: zoom;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
/*swiper---*/
.mainvisual-logo {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: min(77vw, 450px);
  z-index: 1;
}
@media(min-width:992px) {
  .mainvisual-logo {
    left: 5.5vw;
    transform: translateX(0);
    width: 450px;
  }
}
/*mainvisual---*/
/*twitter_area---*/
.inportant-container {
  background-color: #efece099;
}
.main__head-important {
  display: flex;
  flex-direction: column;
  margin: 0px auto 120px;
  padding-bottom: 30px;
  z-index: 1;
}
.important-announce {
  padding: 30px 8vw;
  font-size: 1.4rem;
  color: #333;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: left;
}
.important-announce p {
  margin-bottom: 20px;
}
.important-announce a{
  font-size:1.2rem;
  color:#333;
}
.announce-icon {
  display: block;
  padding: 8px 8px;
  width: 60px;
  text-align: center;
  background-color: #5a1609;
  color: #fff;
  margin-bottom: 20px;
}
@media(min-width:992px) {
  .main__head-important {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(100%, 940px);
    margin-bottom: 80px;
    padding: 30px 0;
  }
  .important-twitter {
    padding: 0 2.88%; /*30px*/
  }
  .important-announce {
    padding: 30px 2.88%;
  }
}
/*twitter_area---*/
/*section-about,section-commitment---*/
.section-about, .section-commitment {
  margin-bottom: 150px;
}
.title__container {
  margin-bottom: 40px;
}
.section-about-title, .section-commitment-title {
  text-align: left;
  font-size: clamp(1.6rem, 6.933vw, 3.8rem); /* 25px / 375px * 100 = 6.4vw */
  padding: 0 8vw 0;
  letter-spacing: 0.2rem;
  font-weight: 500;
  font-family: 'Noto Serif JP', serif;
  color: #6E0B0B;
  text-shadow: 0.5px 0.5px 4px #bcbcbc;
  -webkit-text-shadow: 0.5px 0.5px 4px #bcbcbc;
}
.section-about__wrapper, .section-commitment__wrapper {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  margin-bottom: 80px;
}
.section-about__wrapper img, .section-commitment__wrapper img {
  width: min(100%, 400px);
  object-fit: cover;
  margin-bottom: 40px;
}
.section-about__message, .section-commitment__message {
  padding: 0 8vw;
  text-align: left;
}
.message__title {
  font-size: clamp(16px, 5.3vw, 2.6rem); /* 20 / 375 * 100 = 5.3vw */
  font-weight: 500;
  line-height: clamp(2.2rem, 8vw, 3.9rem); /* 30 / 375 * 100 = 6.9vw*/
  margin-bottom: 40px;
}
.message__title span {
  font-size: 1.3rem;
}
.message__text p {
  margin-bottom: 30px;
}
.message__text {
  margin-bottom: 60px;
}
@media(min-width:768px){
 .tb-none{
  display:none;
    }
}

@media(min-width:992px) {
  .section-about {
    margin-bottom: 200px;
  }
  .title__container {
    margin:0 auto 60px;
    width:min(100%,1500px);
  }
  .section-about__wrapper {
    flex-direction: row-reverse;
    align-items: flex-start;
    width:min(100%,1500px);
    margin:0 auto;
  }
  .section-commitment__wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
    width:min(100%,1500px);
    margin:0 auto 80px;
  }
  .section-about__wrapper img, .section-commitment__wrapper img {
    width: clamp(400px, 50%, 610px);
    margin-bottom: 0;
  }
  .section-about__message, .section-commitment__message {
    margin-top: 30px;
    padding: 0 5.5vw;
  }
  .message__text {
    margin-bottom: 80px;
  }
}
/*section-about,section-commitment---*/
/*commitment-images---*/
.section-commitment__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  padding: 0 8vw;
  margin:0 auto;
 
}
.section-commitment__images img {
  width:min(100%,220px);
  height:190px;
  object-fit: cover;
}
@media(min-width:992px) {
  .section-commitment__images {
    flex-direction: row;
    padding: 0 5.5vw;
    box-sizing: border-box;
    width:min(100%,1800px);
  }
  .section-commitment__images img {
    width: min(33.3%, 220px);
  }
}
/*commitment-images---*/
/*background-attachiment fixed---*/
.punctuate-image {
  width: 100%;
  height: 300px;
  content: "";
  background-image: url("bg/inside_of_shop_img.webp");
  background-size: cover;
  background-position: 50% 70%;
}
@media(min-width:992px) {
  .punctuate-image {
    height: 600px;
    background-position: 50% 70%;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
  }
}
/*background-attachiment fixed---*/
/*section-news---*/
.section-news {
  background-image: url("bg/news_bg.png");
  background-size: cover;
  background-position: 35% 50%;
  padding: 80px 0px;
}
.section-news__wrapper{
    padding:0 8vw;
}
.section-news ul {
  list-style: none;
  text-align: left;
}
.section-news ul h3 {
  font-weight: 500;
}
.section-news ul li {
  margin-bottom: 60px;
}
.section-news ul li a {
  color: #333;
}
@media(min-width:678px) {
  .section-news {
    padding: 120px 0;
  }
  .section-news__wrapper{
    padding: 0 5.5vw;
    }
  .section-news ul {
    width:min(100%,1040px);
    margin:0 auto 60px;
    }
}
/*section-news---*/